//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 05 09:15:12 2025
//! **************************************************************************

SCHEMATIC START;
COMP "Led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "sw1" LOCATE = SITE "T9" LEVEL 1;
COMP "Led0" LOCATE = SITE "U16" LEVEL 1;
COMP "Led2" LOCATE = SITE "U15" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "XLXI_5/COUNT_0" BEL "XLXI_5/COUNT_1" BEL
        "XLXI_5/COUNT_2" BEL "XLXI_5/COUNT_3" BEL "XLXI_7/COUNT_0" BEL
        "XLXI_7/COUNT_1" BEL "XLXI_7/COUNT_2" BEL "XLXI_7/COUNT_3" BEL
        "XLXI_7/COUNT_4" BEL "XLXI_7/COUNT_5" BEL "XLXI_7/COUNT_6" BEL
        "XLXI_7/COUNT_7" BEL "XLXI_7/COUNT_8" BEL "XLXI_7/COUNT_9" BEL
        "XLXI_7/COUNT_10" BEL "XLXI_7/COUNT_11" BEL "XLXI_7/COUNT_12" BEL
        "XLXI_7/COUNT_13" BEL "XLXI_7/COUNT_14" BEL "XLXI_7/COUNT_15" BEL
        "XLXI_8/COUNT_0" BEL "XLXI_8/COUNT_1" BEL "XLXI_8/COUNT_2" BEL
        "XLXI_8/COUNT_3" BEL "XLXI_8/COUNT_4" BEL "XLXI_8/COUNT_5" BEL
        "XLXI_8/COUNT_6" BEL "XLXI_8/COUNT_7" BEL "clk_BUFGP/BUFG";
SCHEMATIC END;

